@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

/*MIXINS*/
/*------------------------*/
/*ANIMATIONS*/
/*------------------------*/
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}

/*CARDS*/
#card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  background: linear-gradient(45deg, #f3ec78, #af4261);
}

.toy-card {
  background-color: orange;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toy-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(0%);
}
.toy-card:hover .toy-card__unit-stats {
  height: 90px;
}
.toy-card:hover .character__image {
  transition: all 0.3s linear;
  transform: scale(1.1);
  transform-origin: bottom;
}
.toy-card:hover .toy-card__image {
  overflow: visible !important;
}
.toy-card:hover .toy-card__description {
  border-radius: 0;
}

.toy-card__image,
.toy-card__name,
.toy-card__description {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.toy-card__image {
  width: 100%;
  height: 400px;
  padding: 15px 15px 0 15px;
  overflow: hidden;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(217deg, rgba(216, 216, 216, 0.8), rgba(0, 128, 0, 0) 70.71%), linear-gradient(127deg, rgba(44, 85, 53, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(128, 128, 128, 0.8), rgba(128, 128, 128, 0) 70.71%), linear-gradient(0deg, rgba(0, 128, 0, 0.8), rgba(0, 128, 0, 0) 70.71%);
}
.toy-card__image img {
  width: auto;
  height: 100%;
  object-position: bottom;
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.toy-card__unit-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.toy-card__unit-stats .one-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 1rem;
  text-align: center;
}
.toy-card__unit-stats .one-third .stat {
  font-weight: 900;
}
.toy-card__unit-stats .one-third:nth-child(2) {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 20px;
}

.toy-card__description {
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 25px 25px;
}
.toy-card__description p {
  text-align: center;
}

.toy-card__name {
  text-transform: uppercase;
  color: #151515;
  z-index: 500 !important;
}
.toy-card__name h2 {
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
